body {
    margin-top: 100px;
    background-color: #222;
    width: 100%;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 10px;
    }

}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}
/*******Mis estilos********/
video{
    width: 100%;
    height: auto;
}
.square-material{
    background: #f4f5f5;
}
.chat{
    background: #e7e7e7;
    margin: 0 .5em;
}
.chat-title{
    padding: .5em 0;
    border-bottom: 1px solid #ccc;
}
.chat-body{
    padding: .5em;
    height: 230px;
    overflow: auto;
}
.title-box-files{
    background: #e7e7e7;
    border-bottom: 1px solid #ccc;
    padding: .5em 0;
}
.box-files{
    background: #e7e7e7;
    margin-bottom: 15px;
    height: 50px;
    overflow: auto;
}

.text-steelBlue{
    color: steelblue;
}
.text-green{
    color: #81c081;
}
.text-nava{
    color: #dfdfdf;
}
.i-user{
    background-color: #263238;
    color: #fff;
    margin-bottom: 3px;
    
}
.other-user{
    background-color: #78909c;
    color: #fff;
    margin-bottom: 3px;
    
}

.i-user p, .other-user p{
    margin-bottom: 1px; 
}
/*** ask and answer ****/
.ask-box{
    background: #222222;
    margin: 1em 0;
    padding: .5em;
    color: #fff;
}
.discusion-box{
    background: #575757;
}
.text-big-x1{
    font-size: 1.1em;
}
.box-like{
    margin-top: .8em;
}
.row .box-like:first-child{
    border-right: 1px solid #555;
}
.btnLike:hover, .btnAnswer:hover{
    color: #2196f3;
    cursor: pointer;
    transition: color .5s;
}

.btnDisLike, .btnNotAnswer{
    color: #2196f3;
    cursor: pointer;
}

.box-like p{
    margin: 0 auto;
}
[id|=answers]{
    display: none;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.answer-box{
    background: #e7e7e7;
    margin: .2em 0;
    padding: .5em;
}
.form-responder{
    margin-bottom: .8em;
    margin-bottom: 1px solid #000;
    padding-bottom: .5em;
}
.text-small{
    font-style: italic;
    font-size: .7em;
}
.btnLikeAnswer:hover{
    color: #2196f3;
    cursor: pointer;
}
.btnNotLikeAnswer{
    color: #2196f3;
    cursor: pointer;
}
/****/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/******/